# ln -s </path/to/this/valheim-server.service> /etc/systemd/system/valheim-server.service
# sudo systemctl daemon-reload
# sudo service valheim-server start
# systemctl enable valheim-server.service -> this to auto-start at system reboot
# Your Valheim Server is running on the specified port
[Unit]
Description=Valheim Custom Server
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target home.mount

[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
User=###EXECUSER###
Group=###EXECUSER###
# Uncomment to update
#ExecStartPre=###STEAMCMDPATH### +login anonymous +force_install_dir ###VHSERVERDIR### +app_update 896660 validate +exit
ExecStart=###VHSERVERLAUNCHER###
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
WorkingDirectory=###VHSERVERDIR###
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target

