# ln -s </path/to/this/vss.http.service> /etc/systemd/system/vss.http.service
# sudo systemctl daemon-reload
# sudo service vss.http start
# systemctl enable vss.http.service -> this to auto-start at system reboot
# Listening on configured port to display server status
[Unit]
Description=Valheim Server Status over HTTP
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target home.mount

[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
User=###EXECUSER###
Group=###EXECUSER###
ExecStart=###VSSHTTP###
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
WorkingDirectory=###VSSHTTPDIR###
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target

